
h1 {
    background: aquamarine;
    
  }
h2 {
    background: aquamarine;
  }
  
h3 {
    background: aquamarine;
  }
h4 {
    background: aquamarine;
  }
 
p {
    margin-top: -20px;
    margin-bottom: -20px;
    margin-right: 700px;
    margin-left: 80px;
    padding: 25px;
  }

  
